html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title
            | Todo App
        
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
        script(type="module" src="https://unpkg.com/wired-elements?module")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap")
        link(rel="stylesheet" href="static/style.css")

    body
        block content